<br>
<h1>Lista działań</h1>


<%= link_to 'Panel Administracyjny', new_admin_user_session_path %><br>
<%= link_to 'Wykaz rzeczy posiadanych ?', items_path %><br>
<%= link_to 'Kategorie', categories_path %><br>
