<br>
<center>
	<br>
	<br>
<h1>Tech Zawodowcy</h1>
<p>Strona inteligencji technicznej czasu zawodowców.
</p>
<br>
<br>
<a href="http://zawodowcy.org"><img src=http://www.politechnikapoznanska.iq.pl/wp-content/uploads/2013/09/logo.png
 alt="zawodowcy.org" /></a>



</center>