<div class="page-header">
  <h2>Jednostki</h2>
</div>
    <%= link_to new_unit_path, remote: true do %>
      Nowa jednostka
    <% end %>
	<div class="row">
	  <div class="col-md-6 col-md-offset-2" id="unit-form" style="display:none;"></div>
	</div>
	
<table class="table table-striped table-hover">
  <thead>
    <tr class="active">
      <th>Nazwa</th>
	  <th>Jednostka</th>
      <th>Edycja</th>
    </tr>
  </thead>
  <tbody id="units">
	<%= render 'table'%>
  </tbody>
</table>
