<div class="page-header">
  <h2>Lokalizacje</h2>
</div>

<dt><%= link_to "Nowa lokalizacja", new_location_path %></dt>

<table class="table table-striped table-hover">
  <thead>
    <tr class="active">
      <th>Nazwa</th>
	  <th>Adres</th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    <% @locations.each do |u| %>
      <tr>
        <td><%= u.name %></td>
		<td><%= u.adress %></td>
		
		<td><%= link_to "Edytuj", edit_location_path(u) %></td>

      </tr>
    <% end %>
  </tbody>
</table>